 @import "./utils/variables";

@import "./base/normalize";
@import "./base/my-normalize";

@import "./components/commons";

@import "./components/header";
@import "./components/nav";
@import "./components/contacts";
@import "./components/main";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/form";
@import "./components/benefits";
@import "./components/works";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
@import "./components/filters";
@import "./components/projects";
@import "./components/social";