.logo {
    color: $color-hover;
    font-family: $font-family-logo;
    font-weight: 700;
    font-size: 26px;
  font-family: 'Raleway';
  line-height: 1.14;
  padding-top: 24px;
      padding-bottom: 24px;}

      .logo-text {
        color: $color-logo; }
     
        .logo__text--inverse {
          color: $color-hero;}
      
          .container {
            width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 15px;
            padding-right: 15px;
          
            }
           .section
            {
              padding-top: 94px;
              padding-bottom: 94px;
            }
          
            .section--cutted {
              padding-bottom: 0;
          }
         
          .visually_hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
          }


          .button {
            color: $color-hero;
            background-color: $color-hover;
            font-family: $font-family-brand;
            padding: 10px 32px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            cursor: pointer;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: 1px solid $color-hover;
            border-radius: 4px;
          margin-top: 30px;
          font-weight: 700;
          font-size: 16px;
        
        
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
        
          .button:hover {
            background: $color-hover-hero-btn;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}


            .networks {
                display: flex;
                gap: 10px;}
  
              .network__links {
                display: flex;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 fill 250ms cubic-bezier(0.4, 0, 0.2, 1); }
  
                 .network__icon {
                  fill: $color-hero; }
  
              .network__icon {
                margin: auto;
                width: 22px;
                height: 22px;}
  
              
  
                  .network__links:hover,
                  .network__links:focus {
             color: $color-hover;}
  
  
             .network__links:hover,
                  .network__links:focus {
             background-color: $color-hover;}
  
             .network__links:hover .network__icon, 
  .network__links:focus .network__icon {
      fill: $color-hero;
    }
  