.customers_title {
    margin: 0 auto 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: $color-heading;
    text-align: center;} 

    .customers {
      display: flex;
      gap: 30px;
      
  }

  .customers__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $background-content;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    
  }
&:hover,
&:focus {
    border-color: $color-hover;}
  


.customers__icon {
  fill: $background-content;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .customers__link:hover &, 
.customers__link:focus &  {
    fill: $project-description-color;
}
}