

  .footer {
    padding: 60px 0;
    background-color: $bg-color-footer;
     }

     .footer__flex
     {
       display: flex;
     }
     .footer__contacts {
       width: 231px; }

  .footer__address
  {margin-top: 20px;}
  .footer__list
  {
    display: block;
    padding: 0 0;
  }

  
 
  .footer__link {
    color: $color-address;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
  

  &:hover,
  &:focus {
    color: $color-hover;}

  }


    .footer__item{   
margin-bottom: 9px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;}
 
  .footer__link:hover,
  .footer__link:focus {
    color: $color-hero;}


  .footer__link--nav {
    color: $color-hero;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;}


     


    .footer__join {
      margin-left: 70px;
      padding-top: 12px;}
      

      .footer__title {
        margin-bottom: 20px;
        color: $color-hero;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase; }
         
          .footer__join .network__links {
            background-color: $grey-networks-color;}


            
    .footer__subscription { 
        margin-left: auto;
        padding-top: 12px;
    }
  
    .footer__form {
      display: flex;
      gap: 12px;
  }
  
  .footer__form input::placeholder {
    color: $color-border;
  }
  
  .footer__field {
    display: flex;
    width: 358px;
    height: 50px;  
    padding-left: 16px;
    
    border-radius: 4px;
    border: 1px solid $background-content;
    background-color: $color-heading;
  
    color: $grey-networks-color;    
  }
  
  .footer__button {
    display: flex;
    width: 200px;
    height: 50px;
    gap: 10px;
    padding-left: 29px;
    justify-content: center;
    align-items: center;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    background-color: $color-hover;
    color: $bg-color-team;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  &:hover, 
  &:focus {
    background-color: $color-hover-hero-btn;
  }

  }
  
  .footer__icon {
    display: flex;
    fill: $color-border;
    height: 24px; 
  }
  
  