

  .footer {
    padding: 60px 0;
    background-color: $bg-color-footer;
     }

         .logo__footer

         {color: $color-hover;
          font-family: $font-family-logo;
          font-weight: 700;
          font-size: 26px;
          font-family: 'Raleway';
          line-height: 1.14;
          // padding-top: 24px;
          margin-bottom:  24px;

         }

     .footer__flex
     {
       display: flex;
        flex-direction: column;
          align-items: center;
          gap: 60px;
     
        @media screen and (min-width: 480px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
          }
        
          @media screen and (min-width: 768px) {
            justify-content: space-around;
          }
        
          @media screen and (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
          }
        }






     .footer__contacts {
       width: 231px;
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1200px) {
            align-items: unset;
          }
        }

  .footer__address{
    // margin-top: 20px;
font-style: normal;
text-align: center;

@media screen and (min-width: 1200px) {
    text-align: left;
  }
}



  .footer__list
  {
    display: block;
    // padding: 0 0;
  }

  
 
  .footer__link {
    color: $color-address;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
  

  &:hover,
  &:focus {
    color: $color-hover;}

  }


    .footer__item{   
margin-bottom: 9px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.03em;}
 
  .footer__link:hover,
  .footer__link:focus {
    color: $color-hero;}


  .footer__link--nav {
    color: $color-hero;
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;}


     


    .footer__join {
      // margin-left: 70px;
      // padding-top: 12px;
    display: flex;
      flex-direction: column;}
      

      .footer__title {
        margin-bottom: 20px;
        color: $color-hero;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
          align-self: center; 
            @media screen and (min-width: 1200px) {
                align-self: flex-start;
            
              }
            }
         
          .footer__join .network__links {
            background-color: $grey-networks-color;}


            
    .footer__subscription { 
      display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-top: 12px;
    }
  
    .footer__form {
      // display: flex;
      // gap: 12px;
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: end;
        gap: 12px;
      }
    }
  
  .footer__form input::placeholder {
    color: $color-border;
  }
  
  
  .footer__field {
    display: flex;
    width: 450px;
    height: 50px;  
    padding-left: 16px;
        margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid $background-content;
    background-color: $bg-color-footer;
  
    color: $grey-networks-color;    
  
      @media screen and (max-width: 479px) {
          width: 100%;
        }
      
        @media screen and (min-width: 1200px) {
          width: 358px;
        }
      }
  


  
  .footer__button {
    display: flex;
    width: 200px;
    height: 50px;
    margin-left: auto;
      margin-right: auto;
    gap: 10px;
    padding-left: 29px;
    justify-content: center;
    align-items: center;
  
    border: none;
    border-radius: 4px;
    cursor: pointer;
  
    background-color: $color-hover;
    color: $bg-color-team;
  
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  

  &:hover, 
  &:focus {
    background-color: $color-hover-hero-btn;
  }

  }
  
  .footer__icon {
    display: flex;
    fill: $color-border;
    height: 24px; 
  }
  
  