.form {
    padding: 40px;  
  }
  
  
  .form__text {
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: $color-heading;
  }
  
  .form__item {
    position: relative;
    display: flex;
    flex-direction: column;
  
    margin-bottom: 10px;
  }
  
  .form__title {
    display: block;
    margin-bottom: 4px;
    box-sizing: inherit;
    text-align: initial;
  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: #757575;
  }
  
  .form__field {
    display: block;
    padding: 1px 1px 1px 42px;
  
    width: 100%;
    height: 40px;
    border: 1px solid rgba(117, 117, 117, 0.5);
    border-radius: 4px;
    outline: transparent;
    cursor: text;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__box {
    position: relative;
  
  }
  
  .form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    z-index: 2;
    cursor: pointer;
  
    width: 18px;
    height: 18px;
    fill: $color-heading;
    transform: translatey(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .form__field--comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  
  .form__field--comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
  
    color: $color-heading;
  
    resize: none;
  }
  
  
  
  .form__field:hover,
  .form__field:focus {
      border-color: $color-hover;
  }
  
  .form__field:focus + .form__icon {
      fill: $color-hover;
  
  }
  
  .form__item:hover .form__icon {
      fill: $color-hover;
  }
  
  .form__agreement {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
  
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
  }
  
  .form__checkbox {
      
      position: absolute;
       white-space: nowrap; /*--white-space - pre-  зберіє розриви та пробіли в реченнях, nowarp - навпаки--- */
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }
  
  .form__checkdraw {
      display: inline-block;
      
      width: 16px;
      height: 15px;
  
      background-image: url(../img/check-empty.svg);
      border-radius: 2px;
      background-repeat: no-repeat;
       background-position: center;
      
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  }
  
  .form__checkbox:checked + .form__checkdraw {
      background-color: $color-hover;
      background-image: url(../img/check-full.svg); 
  }
  
  .form__confirm {
      margin-left: 8px;
  }
  
  .form__link {
      color: $color-hover;
      text-decoration-line: underline ;
    
  }
  
  .form__button {
      width: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .form__button:hover, .form__button:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $color-hover-hero-btn;
  }