$color-heading: #212121;
    $color-text: #757575;
    $color-address: rgba(255, 255, 255, 0.6);
    $color-hover: #2196f3;
    $color-hover-hero-btn: #188ce8;
    $color-logo: #000;
    $color-hero: #fff;
    $color-border: #ececec;
    $color-border-secondary: #eeeeee;
    $bg-color-footer: #2f303a;
    $bg-color-team: #f5f4fa;
    $font-family-logo: 'Raleway', Arial, Helvetica, sans-serif;
    $font-family-brand: 'Roboto', Arial, Helvetica, sans-serif;
    $secondary-text-color: #757575;
    $background-content: #AFB1B8;
    $grey-networks-color: rgba(255,255,255,0.1);
    $overlay-color: rgba(0, 0, 0, 0.2);
    $background-transparent-color: rgba(47, 48, 58, 0.8);
    $button-border-color: rgba(0, 0, 0, 0.1);
    $project-description-color: rgba(33, 150, 243, 0.9);